body {
  margin: 0;
  background: linear-gradient(90deg, #1c263a, #293145, #293145, #1c263a);
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: white;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

section {
  padding: 2rem;
}

button {
  border-radius: 20px;
  width: 100%;
  height: 60px;
  border: none;
  margin: 1rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-image: url("./images/button.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background-size: 110%;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
