body {
  margin: 0;
  background: linear-gradient(90deg, #1c263a, #293145, #293145, #1c263a);
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: white;
}

header {
  width: 100%;
  flex: 1;
  overflow: hidden;

  -webkit-mask: linear-gradient(180deg, black 90%, transparent 100%);
}

header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

section {
  padding: 2rem;
}

button {
  border-radius: 20px;
  width: 100%;
  height: 60px;
  border: none;
  margin: 1rem 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-image: url("./images/button.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background-size: 110%;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page .justify {
  font-size: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right {
  text-align: right;
}

.mid {
  margin: 20px auto;
}

.justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.offset-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.sub-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.segment {
  background: blue;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.green {
  background-image: linear-gradient(90deg, #247182, #10f296);
}

.yellow {
  background-image: linear-gradient(90deg, #d57b18, #fac019);
}

.large {
  height: 60px;
}
